@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.wrapper{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    position:absolute;
    bottom: 10px;
    left:550px;
}
.wrapper .button{
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 0 5px;
  overflow: hidden;
  background: #f1f1f1;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  box-shadow: -8px -6px 15px #fff, 6px 8px 15px rgba(0, 0, 0, .15);  
  
}
.wrapper .button:hover{
  width: 200px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 50%;
  box-sizing: border-box;
  line-height: 40px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #4267B2;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #1DA1F2;
}
.wrapper .button:nth-child(4):hover .icon{
  background: #E1306C;
}
.wrapper .button:nth-child(5):hover .icon{
  background: #333;
}
.wrapper .button .icon i{
  font-size: 25px;
  line-height: 40px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #f1f1f1;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(2) span{
  color: #4267B2;
}
.wrapper .button:nth-child(3) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(4) span{
  color: #E1306C;
}
.wrapper .button:nth-child(5) span{
  color: #333;
}
a{
  color: #555;
  font-style: none;
}

body{
    background-color: #f1f1f1;
    font-family: Poppins, sans-serif;
    color: #555;
}
p,ul{
    font-size:1.25rem;
}
.photo{
    background-size: cover;
    width: 500px;
    height:500px;
    border-radius: 50%;
    position: absolute;
    right: 40px;
    top: 40px;
    box-shadow: -8px -6px 15px #fff, 6px 8px 15px rgba(0, 0, 0, .15);
}
#photo1{
    background-image: url("photo3.jpg");
    
} 
#photo2{
    background-image: url("photo7.png");
    opacity:0.7;
    z-index:1; 
}
#intro{
    position: absolute;
    top: 100px;
    left:200px;
    font-size:2.2rem;
    color: #555;
}
#hand{
    height:75px;
    width:75px;
    position:absolute;
    left:100px;
    animation-name:anim_hand;
    animation-duration: 1s;
    animation-iteration-count: infinite;

}
@keyframes anim_hand {
    0%,100%{
        rotate: -15deg;
    }
    /* 50%{
        rotate:0deg;
    } */
    50%{
        rotate:15deg;
    }
}
#options{
  height:280px;
  width:100px;
  position: absolute;
  top:100px;
  left:10px;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.opt{
    width:100px;
    height:50px;
    margin: 0px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 1rem;
    box-shadow: -8px -6px 15px #fff, 6px 8px 15px rgba(0, 0, 0, .15);  
    transition: all 0.5s;
    cursor:pointer;
}
.opt:hover{
    transform:scale(1.25);
}
/* #about{
    position:absolute;
    top:100px;
    left:10px;
}
#projects{
    position:absolute;
    top:170px;
    left:10px;
}
#resume{
    position:absolute;
    top:240px;
    left:10px;
}
#contact{
    position:absolute;
    top:310px;
    left:10px;
} */
.box{
    z-index:2;
    height: 320px;
    width:650px;
    position: absolute;
    top: 100px;
    left:200px;
    padding:10px;
    font-size: 2rem;
    background:linear-gradient(135deg, rgba(0,0,0, 0),rgba(0,0,0, 0.1));
    /* background:linear-gradient(135deg, rgba(33, 158, 188, 0.2),rgba(33, 158, 188, 0.4)); */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(0,0,0,0.001);
    box-shadow:0 8px 32px rgba(0,0,0,0.1);
    display:none;
}
#about_box{
  height:540px;
}
#contact_box h2, #about_box h2{
  margin:0px;
}
form{
  display: flex;
  flex-direction: column;
  align-items:center;
}
.input{
  width:200px;
  height:20px;  
  margin-top: 10px;
  margin-bottom:10px;
  border-radius: 10px;
  border:1px solid #555;
  /* border:none; */
  /* border-bottom:1px solid #555; */

  /* outline:none; */
  padding-left:10px;
  background: none;  
}
#msg{
  height:100px;   
}
#btn{
  background:#555;
  color:#f1f1f1;
  width:70px;
  position:relative;
  top:-30px;
  cursor:pointer;
}
#sad{
    height:150px;
    width:150px;
    margin:0px;
    position:absolute;
    top:0px;
    left:360px;
}
h4{
    margin:0px;
    font-weight: 100;
}

@media screen and (max-width:320px) {
  .opt{
    width:80px;
    height: 30px;
  }
  #options{
    width:300px;
    height:120px;
    position: absolute;
    top:280px;
    right:0px;
    margin: 0px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem;
    font-size: 0.8rem;
    flex-wrap:wrap;
  }
  .photo{
    width: 200px;
    height:200px;
    right: 0px;
    top: 10px;
  }
  #intro{
    top: 120px;
    left:20px;
    font-size:1.2rem;
  }
  #hand{
    height:50px;
    width:50px;
    left:50px;
  }

  .wrapper{
    font-size:10px;
    bottom: 0px;
    left:100px;
  }
  .wrapper .button{
    height: 20px;
    width: 20px;
    border-radius: 20px;    
  }
  .wrapper .button:hover{
    width: 50px;
  }
  .wrapper .button .icon{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    line-height: 20px;
  }
  .wrapper .button .icon i{
    font-size: 10px;
    line-height: 20px;
  }
  .wrapper .button span{
    font-size: 10px;
    line-height: 20px;
  }
}


@media screen and (max-width:376px) and (min-width:321px) {
  .opt{
    width:80px;
    height: 30px;
  }
  #options{
    width:350px;
    height:120px;
    position: absolute;
    top:280px;
    right:0px;
    margin: 0px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 0.8rem;
    flex-wrap:wrap;
  }
  .photo{
    width: 220px;
    height:220px;
    right: 0px;
    top: 10px;
  }
  #intro{
    top: 140px;
    left:20px;
    font-size:1.35rem;
  }
  #hand{
    height:50px;
    width:50px;
    left:50px;
  }

  .wrapper{
    font-size:10px;
    bottom: 0px;
    left:120px;
  }
  .wrapper .button{
    height: 20px;
    width: 20px;
    border-radius: 20px;    
  }
  .wrapper .button:hover{
    width: 50px;
  }
  .wrapper .button .icon{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    line-height: 20px;
  }
  .wrapper .button .icon i{
    font-size: 10px;
    line-height: 20px;
  }
  .wrapper .button span{
    font-size: 10px;
    line-height: 20px;
  }
}

@media screen and (max-width:426px) and (min-width:377px) {
  .opt{
    width:90px;
    height: 30px;
  }
  #options{
    width:400px;
    height:120px;
    position: absolute;
    top:300px;
    right:0px;
    margin: 0px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 0.9rem;
    flex-wrap:wrap;
  }
  .photo{
    width: 250px;
    height:250px;
    right: 0px;
    top: 10px;
  }
  #intro{
    top: 150px;
    left:20px;
    font-size:1.5rem;
  }
  #hand{
    height:60px;
    width:60px;
    left:60px;
  }

  .wrapper{
    font-size:12px;
    bottom: 0px;
    left:130px;
  }
  .wrapper .button{
    height: 30px;
    width: 30px;
    border-radius: 20px;    
  }
  .wrapper .button:hover{
    width: 70px;
  }
  .wrapper .button .icon{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    line-height: 32px;
  }
  .wrapper .button .icon i{
    font-size: 14px;
    line-height: 20px;
  }
  .wrapper .button span{
    font-size: 14px;
    line-height: 32px;
  }
}
@media screen and (max-width:768px) and (min-width:427px){
  .photo{
    /* width: 350px; */
    /* height:350px; */
    width:45vw;
    height:45vw;
    right: 20px;
    top: 20px;
  }
  #intro{
    top:220px;
    left:26vw;
    font-size:5vw;
  }
  #hand{
    height:11vw;
    width:11vw;
    position:absolute;
    left:12vw;
    top:8vw;
  }
  .opt{
    height:6.5vw;
    width:13vw;
  }
  #options{
    font-size:2vw;
    left:1vw;
  }
  .wrapper{
    bottom: 10px;
    left:36vw;
  }
}
@media screen and (max-width:1024px) and (min-width:769px){
  .photo{
    width: 400px;
    height:400px;
    right: 40px;
    top: 30px;
  }
  #intro{
    top: 200px;
    left:150px;
  }
  #options{
  height:300px;
  width:110px;
  font-size:1.1rem;
  }
  .opt{
    width:110px;
  }
  .wrapper{
    bottom: 10px;
    left:400px;
  }
}
